.headermenu{
    background-color:white;
    
}
.icon{
    padding-top: 30px;
    color:red;
}
.barrapesquisa{
width: 520px !important;
padding-top: 10px;
}

/* MENU CATEGORIA */
.categoria{
    margin: 0px;
    padding:0px;
}
.catnav{
    height: 20px;
}
/* CARROSEL */
.carousel-item{
    background-color:red;
    height: 350px;
}
.carousel-img{
    width:160px !important;
}
/* PRODUTOS HOME */
.grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    
}
/* MAPBOX */
.sidebar {
width: 33.3333%;
}
  
.map {
border-left: 1px solid #fff;
left: 33.3333%;
width: 66.6666%;
height: 550px;
top: 0;
bottom: 0;
}
  
.pad2 {
padding: 20px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
/* CARRINHO */
.itemcarrinho{
    border: 0.5px solid Grey;
    padding: 5px;
}
.card-carrinho {
    border:0px !important;
}

/* FOOTER */
footer{
    background-color:#FFFAFA;
}
.footer-copyright{
    background-color:#F5F5F5;
    
}


/* Estilos aplicados a larguras até 480 pixels */

@media screen and (max-width: 600px) {
    .barrapesquisa{
        width: 300px !important;
       
        }
    .formadm{
        width: 300px !important;
        margin-left:20px !important;
    }
    .catnav{
        height: auto;
    }
      
}